

.container h5 {
    
    color: brown;
    margin: 0px;
    margin-top: 25px;
    font-size: 1.0rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.container {
    
    max-width: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 10px 0px;
    height: 40vh;
   
}

.title {

    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;

}
.titleDos {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .skill-per {

    width:100% ;
    margin: 15px 0;
}

.barra-html {

    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 8px;
    background-color: rgb(204, 204, 204);

}

button   {
    background-color: black;
    padding: 10px 0px;
    margin: 20px;
    
}
button:hover {
    background-color: rgb(241, 150, 129);
    border-radius: 10px;
    
}
.skill-per {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(136, 20, 20, 0.93);
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
   

}

.skill-per.css {
    width: 70%;
    animation-delay: 0.1s ;
    
    
}

.skill-per.js {
    width: 65%;
    animation-delay: 0.2s;
}
.skill-per.html {
    width: 85%;
    animation-delay: 0.3s;
}
.skill-per.react {
    width: 80%;
    animation-delay: 0.4s;
}

.skill-per.nodejs {
    width: 70%;
    animation-delay: 0.5s;
}


@keyframes progress 
{
  0% {
    width: 0;
    opacity: 1;

  }
  100% {
    opacity: 1;
  }

    
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    padding: 2px 3px;
    border-radius: 3px;
    background: rgb(228, 223, 223);
    z-index: 1;
}

.tooltip::before {
    content : '';
    position: absolute;
    left: 50%;
    height: 5px;
    width: 10px;
    z-index: -1;
    background-color: rgb(250, 240, 240);
    transform: translateX(-50%)rotate();

}







