.container-about {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    padding: 30px;
    height: 67vh;
   box-shadow: 2px 2px 10px 5px rgba(195, 61, 61, 0.323);

}

.container-about button {
    background-color: white;
    width: 100px;
    color: brown;
    font-size: 1.2rem;
    
    
}

h4 {
    padding: 0px;
    margin: 0px;
}

.container-about p {
    width: 600px;
}

.span1 {
    font-style: oblique;
    padding: 2px;
    margin: 5px;
}

p {
    padding: 20px;
    margin: 30px;
    font-family: verdana;
}
.btnInfo {
    text-decoration: none;
    color: white;
    padding: 0px;
    font-size: 1.5rem;
    margin: 10px;
    padding-bottom: 0px;
    background-color: rgba(216, 189, 193, 0.985);
    border-radius: 10px;
    text-align: center;
    width: 100px;
    font-family: verdana;
    color: black;
}

.btnInfo:hover {

    color: rgb(151, 7, 7);

}


